/*Variables*/
$mobile:                                    "screen and (max-width:600px)";
$screen-sm-min:                             768px !default;
$gray-border:                               #F0F0F0; 
$emberwatch-orange:                         #E45036;
$font-gray:                                 #999;
