{{outlet}}

<div class="row talks">
  <ul>
    {{#each talksSorted as |month|}}
      <h2 data-test-talk-month-header="{{month.value}}">{{moment-format month.value 'MMMM YYYY' 'YYYY-MM'}}</h2>
      {{#each month.items as |talk|}}
        {{talk-item talk=talk}}
      {{/each}}
    {{/each}}
  </ul>
</div>