{{outlet}}

<div class="row tutorials">
  <ul>
    {{#each tutorialsSorted as |month|}}
      <h2 data-test-tutorial-month-header="{{month.value}}">{{moment-format month.value 'MMMM YYYY' 'YYYY-MM'}}</h2>
      {{#each month.items as |tutorial|}}
        {{tutorial-item tutorial=tutorial}}
      {{/each}}
    {{/each}}
  </ul>
</div>
